<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{shared/meta :: meta}"></div>
    <title>Логи</title>
</head>
<body>
<div class="head">
    <div th:insert="~{shared/header :: header}"></div>
</div>
<form id="formLogs" action="#" th:action="@{/admin/logs/type}" method="get">
    <select id="type" name="type">
        <option value="all">Все</option>
        <option value="message">Сообщения</option>
        <option value="error">Ошибки</option>
    </select>
    <input type="datetime-local" name="dateFrom"/>
    <input type="datetime-local" name="dateTo"/>
    <input type="submit" value="Выбрать">
</form>
<div class="table_container">
    <table>
        <tr><th>Дата</th><th>Тип</th><th>Сообщение</th></tr>
        <tr th:each="log : ${allLogs}"><td th:text="@{${log.getDateDescr()}}"></td><td th:text="@{${log.getType()}}"></td><td th:text="@{${log.getMessage()}}"></td></tr>
    </table>
</div>
</body>
</html>