<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
    <div th:insert="~{shared/meta :: meta}"></div>
</head>
<body>
<div class="head">
    <div th:insert="~{shared/header :: header}"></div>
</div>
    <form action="#" th:action="@{/account/edit}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{username}">
        <p>Имя пользователя: <input type="text" name="newUsername"></p>
        <p>Пароль: <input type="password" th:field="*{password}"></p>
        <p>Почта: <input type="email" th:field="*{email}"></p>
        <p>Получать рассылку: <input type="checkbox" th:field="*{getMessages}"></p>
        <input type="submit" value="Сохранить">
    </form>
<a sec:authorize="hasRole('ROLE_user')" th:href="@{apply}">Стать редактором!</a>
</body>
</html>