<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="meta">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
    <link th:href="@{/img/favicon.ico}" rel="icon" type="image/ico" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style_mobile.css}">
    <script th:src="@{/js/meta.js}"></script>
</div>
</html>