<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <div th:insert="~{shared/meta :: meta}"></div>
</head>
<body>
    <div th:insert="~{shared/header :: header}"></div>
    <form method="post" th:action="@{account/login}" th:object="${user}">
        <div>
            <label for="login">Имя пользователя:</label>
            <input type="text" id="login" name="login" th:field="*{login}" value="${user.getLogin()}">
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" th:field="*{password}" value="${user.getPassword()}">
        </div>
        <button type="submit">Авторизация</button>
    </form>
</body>
</html>