<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <div th:insert="~{shared/meta :: meta}"></div>
        <title th:text="${article.getHeader()}"></title>
    </head>
    <body>
        <div class="head">
            <div th:insert="~{shared/header :: header}"></div>
        </div>
        <h1 th:text="${article.getHeader()}"></h1>
        <div class="block">
        <div th:if="${image != null}">
            <img class="article_img" th:src="'data:image/jpeg;base64,' + ${image}">
        </div>
        <div>
            <h2 th:text="'Категория: ' + ${article.getViewType()}"></h2>
        </div>
            <div>
                <h2 th:text="'Автор: ' + ${article.getAuthor()}"></h2>
            </div>
        </div>
        <div th:utext="${article.getLongDescr()}"></div>
        <div sec:authorize="hasRole('ROLE_admin') or hasRole('ROLE_editor')">
            <a th:href = "@{'/editor/edit/' + ${article.getHeader()}}">Редактировать</a>
        </div>
        <h1>Комментарии</h1>
        <div class="comment_block">
        <div th:each="comment : ${article.getComments()}">
            <h1>
                <h2 th:text="${comment.getAuthorName()}"></h2>
                <div class="comment_wrapper" th:text="${comment.getMessage()}"></div>
            </h1>
        </div>
        </div>
        <div sec:authorize="hasRole('ROLE_admin') or hasRole('ROLE_editor') or hasRole('ROLE_user')">
            <div class="send_comment">
                <form action="#" th:action="@{/comment}" method="post">
                    <input type="hidden" name="articleId" th:value="${article.getId()}" />
                    <input type="hidden" name="articleName" th:value="${article.getHeader()}" />
                    <input type="text" name="message" />
                    <button type="submit">Отправить комментарий</button>
                </form>
            </div>
        </div>
    </body>
</html>