<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="~{shared/meta :: meta}"></div>
        <title th:text="${article.getHeader()}"></title>
    </head>
    <body>
        <div class="head">
            <div th:insert="~{shared/header :: header}"></div>
        </div>
        <h1 th:text="${article.getHeader()}"></h1>
        <div>
            <h2 th:text="'Категория: ' + ${article.getViewType()}"></h2>
        </div>
        <div th:text="${article.getLongDescr()}"></div>
        <div th:each="comment : ${article.getComments()}">
            <h1>
                <h2 th:text="${comment.getAuthorName()}"></h2>
                <div th:text="${comment.getMessage()}"></div>
            </h1>
        </div>
        <a th:href = "@{'/editor/edit/' + ${article.getHeader()}}">Редактировать</a>
    <form action="#" th:action="@{/comment}" method="post">
        <input type="hidden" name="articleId" th:value="${article.getId()}" />
        <input type="hidden" name="articleName" th:value="${article.getHeader()}" />
        <input type="text" name="message" />
        <button type="submit">Отправить комментарий</button>
    </form>
    </body>
</html>