<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <head>
        <div th:insert="~{shared/meta :: meta}"></div>
        <title>Редактирование статьи</title>
    </head>
    <body>
    <div th:insert="~{shared/header :: header}"></div>
    <form id="articleForm" action="#" th:action="@{/editor/edit}" th:object="${article}" method="post" enctype="multipart/form-data">
        <p>Название: <input type="text" th:field="*{header}" /></p>
        <p>Краткое описание: <p><textarea class="short_text" th:field="*{shortDescr}" /></p>
        <p>Содержание: </p>
        <div id="editor">
        </div>
        <input type="hidden" id="articleText" name="articleText" th:field="*{longDescr}">
        <p>
            Категория:
            <select th:field="*{type}">
                <option th:text="Феи" th:value="fairies"></option>
                <option th:text="Специалисты" th:value="specialists"></option>
                <option th:text="Злодеи" th:value="villains"></option>
                <option th:text="Школы" th:value="schools"></option>
            </select>
        </p>
        <p>Автор: <input type="text" th:field="*{author}" /></p>
        <p>Изображение: <input type="file" name="image" /></p>
        <input type="text" th:hidden="true" th:field="*{id}" />
        <p><input type="submit" value="Сохранить" /></p>
    </form>
    <button id="open_close_deletion_form">Удалить</button>
    <form class="deletion_form_hidden" id="deletion_form" action="#" th:action="@{/editor/delete}" th:object="${article}" method="post">
        <p>Вы уверены, что хотите удалить статью?</p>
        <input type="text" th:hidden="true" th:field="*{id}" />
        <p><input class="but" type="submit" value="Да" /></p>
        <input class="but" type="button" value="Нет" id="delete_abortion"></input>
    </form>
    <script th:src="@{/js/delete_confirm.js}"></script>
    </body>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });

    document.addEventListener("DOMContentLoaded", function() {
      //получаем текст статьи
      var text = document.getElementById('articleText').value
      //и загружаем его в поле Quill
      quill.root.innerHTML = text;

    });
    document.getElementById('articleForm').addEventListener('submit', function(event) {
        document.getElementById('articleText').value = quill.root.innerHTML;
    });
</script>
</html>