<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="~{shared/meta :: meta}"></div>
        <title>Редактирование статьи</title>
    </head>
    <body>
        <div class="head">
            <div th:insert="~{shared/header :: header}"></div>
        </div>
        <form action="#" th:action="@{/editor/edit}" th:object="${article}" method="post">
            <p>Название: <input type="text" th:field="*{header}" /></p>
            <p>Краткое описание: <input type="text" th:field="*{shortDescr}" /></p>
            <p>Содержание: <input type="text" th:field="*{longDescr}" /></p>
            <p>
                Категория:
                <select th:field="*{type}">
                    <option th:text="Феи" th:value="fairies"></option>
                    <option th:text="Школы" th:value="schools"></option>
                </select>
            </p>
            <p>Автор: <input type="text" th:field="*{author}" /></p>
            <input type="text" th:hidden="true" th:field="*{id}" />
            <p><input type="submit" value="Сохранить" /></p>
        </form>
        <button id="open_close_deletion_form">Удалить</button>
        <form class="deletion_form_hidden" id="deletion_form" action="#" th:action="@{/editor/delete}" th:object="${article}" method="post">
            <p>Вы уверены, что хотите удалить статью?</p>
            <input type="text" th:hidden="true" th:field="*{id}" />
            <p><input type="button" value="Нет" id="delete_abortion"></input></p>
            <p><input type="submit" value="Да" /></p>
        </form>
        <script th:src="@{/js/delete_confirm.js}"></script>
    </body>
</html>