<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="~{shared/meta :: meta}"></div>
        <title>Добавление статьи</title>
    </head>
    <body>
        <div class="head">
            <div th:insert="~{shared/header :: header}"></div>
        </div>
        <form action="#" th:action="@{/editor/add}" th:object="${article}" method="post">
            <p>Название: <input type="text" th:field="*{header}" /></p>
            <p>Краткое описание: <input type="text" th:field="*{shortDescr}" /></p>
            <p>Содержание: <input type="text" th:field="*{longDescr}" /></p>
            <p>Тип: <input type="text" th:field="*{type}" /></p>
            <p>Автор: <input type="text" th:field="*{author}" /></p>
            <p><input type="submit" value="Добавить" /></p>
        </form>
    </body>
</html>