<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="ru">
    <head>
        <div th:insert="~{shared/meta :: meta}"></div>
        <title>Добро пожаловать на фан-сайт Винкс!</title>
    </head>

    <body>
        <div class="head">
            <div th:insert="~{shared/header :: header}"></div>
        </div>
        <h1>Добро пожаловать на фан-сайт Винкс!</h1>
        <div class="content">
            <a th:href="@{/}"><img class="img" th:src="@{/img/category_fairy.jpg}"></a>
            <a th:href="@{/}"><img class="img" th:src="@{/img/category_spec.jpg}"></a>
            <a th:href="@{/}"><img class="img" th:src="@{/img/category_bad.jpg}"></a>
            <a th:href="@{/}"><img class="img" th:src="@{/img/category_school.jpg}"></a>
            <p><a class="all" th:href="@{/articles}">Показать все статьи</a></p>
        </div>
    </body>
</html>