<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{shared/meta :: meta}"></div>
    <title>Добавление пользователя</title>
</head>
<body>
<div th:insert="~{shared/header :: header}"></div>
<form action="#" th:action="@{/users/create}" th:object="${user}" method="post">
    <p>Имя пользователя: <input type="text" th:field="*{username}" /></p>
    <p>Пароль: <input type="text" th:field="*{password}" /></p>
    <p>
        Роль:
        <select th:field="*{role}">
            <option th:text="Пользователь" th:value="ROLE_user"></option>
            <option th:text="Редактор" th:value="ROLE_editor"></option>
            <option th:text="Администратор" th:value="ROLE_admin"></option>
        </select>
    </p>
    <p>Активность: <input type="checkbox" th:field="*{enabled}" /></p>
    <p><input type="submit" value="Сохранить" /></p>
</form>
</body>
</html>