body {
    font-family: "Aclonica";
    font-size: 32px;
    color: #701F4D;
}

body .header-wrapper{
    width: 100%;
    height: 100px;
    background-color: #E5419F;
    left: 0%;
    top: 0%;
    display: flex;
    position: fixed;
    min-width: 1000px;
}

.nav {
    flex-direction: row;
    font-size: 24px;
    margin: 0;
}

ul {
    display: flex;
}

li {
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: row;
    position: relative;
}

li a{
    height: 50%;
    margin-top: 35px;
}

form {
    position: absolute;
    margin-top: 35px;
    margin-left: 1130px;
}

.img_main{
    display: flex;
    margin-right: 10pt;
}

.nav a{
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

a img {
    height: 50%;
}

.img_main img {
    height: 100%;
}

h1{
    font-family: "Aclonica";
    font-size: 64px;
    color: #C23685;
    padding-top: 100px;
    text-align: center;
}

.definition{
    display: flex;
}

.user{
    position: absolute;
    right: 0;
    text-align: center;
}

.search_field {
    font-family: "Aclonica";
    border-radius: 5px;
    display: flex;
    position: relative;
    background-image: url(../img/search.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 90%;
    padding-left: 20pt;
    float: right;
    font-size: 18px;
}

input {
    border: none;
    outline: none;
}

.nav li:hover {
    background-color: #992B69;
}