.header-wrapper{
    width: 100%;
    height: 100px;
    background-color: #E5419F;
    left: 0px;
    top: 0px;
    display: flex;
    position: fixed;
}

.links a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav{
    display: inline-block;
    padding-right: 20px;
}

h1{
    font-family: "Aclonica";
    font-size: 64px;
    color: #C23685;
    top: 10px;
    text-align: center;
}

.main{
    font-family: "Aclonica";
    font-size: 32px;
    color: #701F4D;
}

.definition{
    display: flex;
}

.user{
    position: absolute;
    right: 0;
    text-align: center;
}

.form {
    width: 300px; /* Ширина поля с кнопкой */
    border: 1px solid #000; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
   }
   input[type="text"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 200px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
   }
   button[type="submit"] {
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
   }