<div th:fragment="header">
    <!--шапка-->
    <div class="header-wrapper">
        <a class="img_main" th:href="@{/}"><img th:src="@{/img/logo.svg}"></a>
        <ul id="menu_list" class="nav">
            <a th:href="@{/fairies}" id="fairies"><li><img th:src="@{/img/1.svg}"><div class="header_element">ФЕИ</div></li></a>
            <a th:href="@{/}" id="specialists"><li><img th:src="@{/img/2.svg}"><div class="header_element">СПЕЦИАЛИСТЫ</div></li></a>
            <a th:href="@{/}" id="villains"><li><img th:src="@{/img/3.svg}"><div class="header_element">ЗЛОДЕИ</div></li></a>
            <a th:href="@{/schools}" id="schools"><li><img th:src="@{/img/5.svg}"><div class="header_element">ТЕСТЫ</div></li></a>
            <a th:href="@{/}" id="others"><li><img th:src="@{/img/5.svg}"><div class="header_element">ПРОЧЕЕ</div></li></a>
        </ul>
        <form name="search" method="get" th:attr="action=@{/search}">
            <input class="search_field" type="text" name="query" placeholder="ПОИСК"/>
        </form>
        <button class="menu_button" id="open_menu">O</button>
        <div class="user"><img th:src="@{/img/people.png}"></div>
    </div>
    <script th:src="@{/js/header_script.js}"></script>
    <!--шапка-->
</div>